@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    font-family: 'Lobster', cursive;
    padding: 0;
    margin: 0;
    background-color: #d1f3a5
}

ul {
    padding: 0;
    margin: 0;
}

h2 {
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    font-size: 1.5em;
}

a {
    text-decoration: none;
    color: black;
}

nav {
    overflow: hidden;
    background-color: #FFFAE1;
    position: fixed;
    width: 100%;
    opacity: 0.9;
}

header li {
    float: left;
    font-size: 1.2em;
    list-style-type: none;
}

header li a {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 18px 16px;
}

h1 {
    text-align: center;
    color: antiquewhite;
    font-size: 3em;
    margin-top: 0px;
    padding: 190px 0px 0px 0px;
    text-shadow: 1px 6px 2px black;
}

#premierTrait {
    height: 1px;
    width: 25%;
    margin: -3px auto;
    background-color: #FFFAE1;
    box-shadow: 1px 3px 2px black;
}

.imagechats {
    text-align: center;
    padding: 110px 0px 20px;  
}

.imagechats img {
    border-radius: 10%;
    width: 79%;
    height: auto;
    max-width: 700px;
}

#description {
    padding: 0px 0px 40px 0px;
}

#détail {
    padding: 20px 20%;
    font-size: 20px;
}

#questions {
    padding: 0px 30%;  
}

#deuxiemeTrait {
    height: 1px;
    width: 75%;
    background-color: #030303;
    margin: 60px auto;
}

#copyrightetIcons {
    display: flex;
    margin-bottom: 20px;
    padding: 0 10%;

}

#copyright {
    width: 50%;
    text-align: left;
    color: black
}

#Icons {
    width: 50%;
    text-align: right;
}

@media screen and (min-width : 1280px) {
    h1 {
        font-size: 4em;
    }  
    h2 {
        font-size: 3em;
    }
    #description {
        padding: 30px 0px 10px 0px;
    }
    #questions {
        padding: 0px 30%;
        font-size: 20px;  
    }
  
  }